* {
    box-sizing: border-box;
    list-style: none;
  }
  
  /* Style the body */
  body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: #FFF5EE;
    background-color: #3D0C02;
  }
  
  /* Header/logo Title */
  .header {
    padding: 60px;
    text-align: center;
  }
  
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 25%;
    padding-top: 75px;
    background-image: url('images/antlpe.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  li.contact-links {
    float: right;
  }

  h1.name-title {
    font-size: 24px;
  }

  .name-title {
    padding-left: 20px;
    font-family: 'Bree Serif', sans-serif;
    text-align: right;
    margin-bottom: 0px;
    margin-top: 0px;
    color: 	#3D0C02;
  }

  .intro-title {
    float: right;
    font-size: 24px;
    text-align: right;
    padding-right: 20px;
    font-family: 'Bree Serif', sans-serif;
    color: #FFF5EE;
  }

  .profile-pic {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-right: 20px;
    float: right;
  }
  
  /* Main column */
  .main {
    flex: 75%;
    padding: 75px 20px 20px 20px;
    background-color: #3D0C02;
    position: relative;
  }

  hr { 
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    background-color: #FFF5EE;
  } 

  i {
    padding: 10px;
  }

  .bio-title {
    font-family: 'Bree Serif', sans-serif;
    font-size: 36px;
  }

  .bio-text-1 {
    margin-top: 40px;
    font-size: 18px;
  }

  .bio-text-2 {
    font-size: 18px;
  }
  
  .icon {
    padding: 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
  }

  .icon-responsive {
    padding: 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: none;
  }
  
  .tech {
    display: inline-block;
  }

  h3 {
    font-family: 'Bree Serif', sans-serif;
    font-size: 36px;
    text-align: center;
  }

  .project p {
    float: right;
    width: 50%;
  }

  .table {
    display: table;
    margin: 0 auto;
  }

  ul.stack li {
    display: inline;
  }

  ul.links li {
    display: inline;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 785px) {
    .row, .navbar {   
      flex-direction: column;
    }

    .icon {
      display: none;
    }

    .icon-responsive {
      display: block;
      position: inherit;
      background-color: #1abc9c;
      padding: 0px;
    }

    img {
      width: 100%;
    }

    .project p {
      float: none;
      width: 100%;
    }
  }