* {
    box-sizing: border-box;
    list-style: none;
  }
  
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
  }
  
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 40%;
    background-color: #f1f1f1;
    position: relative;
  }

  li.contact-links {
    float: right;
  }

  .name-title {
    padding-left: 20px;
  }
  
  /* Main column */
  .main {
    flex: 60%;
    background-color: white;
    padding: 20px;
    position: relative;
  }

  i {
    padding: 10px;
  }
  
  .icon {
    padding: 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #1abc9c;
  }

  .icon-responsive {
    padding: 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #1abc9c;
    display: none;
  }
  
  .tech {
    display: inline-block;
  }

  .project p {
    float: right;
    width: 50%;
  }

  .table {
    display: table;
    margin: 0 auto;
  }

  ul.stack li {
    display: inline;
  }

  ul.links li {
    display: inline;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 785px) {
    .row, .navbar {   
      flex-direction: column;
    }

    .icon {
      display: none;
    }

    .icon-responsive {
      display: block;
      position: inherit;
      background-color: #1abc9c;
      padding: 0px;
    }

    img {
      width: 100%;
    }

    .project p {
      float: none;
      width: 100%;
    }
  }